.myContainer {
    min-width: 400px;
    background-image: url(../../../assets/img/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.myTitle {
    background: rgba(161, 211, 54, 0.6);
    color: white;
    font-size: 10rem;
    text-align: center;
}
#kolcsonzokContainer {
    background: rgba(161, 211, 54, 0.6);
    padding: 5%;
    color: white;
    border-radius: 8rem;
}